*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: rgb(255, 209, 152);
    display: flex;
    justify-content: space-around;
}

.logo{
    display: flex;
    padding: 20px;
}

.logo img{
    width: 40px;
    height: 40px;
}

.logo p{
    font-weight: 400;
    font-style: italic;
    font-size: 16pt;
    padding-top: 5px;
    padding-left: 5px;
}

.main-menu{
    padding: 20px;
}

.main-menu ul{
    display: flex;
}

.main-menu li{
    list-style-type: none;
}

.main-menu li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    display: block;
    padding: 3px 10px;
}

.main-menu li a:hover{
    background-color: rgb(168, 53, 0);
    color: #FFF;
    border-radius: 5px;
}

.main-menu li:nth-child(3) , .main-menu li:nth-child(4){
    display: flex;
}

.main-menu li:nth-child(3) a , .main-menu li:nth-child(4) a{
    padding-right: 0;
}

.main-menu li img{
    width: 20px;
    cursor: pointer;
    padding-top: 3px;
}

.main{
    width: 1080px;
    margin: 0 auto;
}

.info-block{
    display: flex;
    margin-top: 235px;
    justify-content: space-between;
}

.info-block:nth-child(1){
    margin-top: 72px;
}

.info-block__content h1, .info-block-last__h1{
    font-size: 48px;
    font-weight: 700;
    padding-top: 76px;
}

.info-block__content p{
    color: rgba(0, 0, 0, 0.46);
    font-size: 20px;
    font-weight: 400;
    padding-top: 34px;
}

.info-block__content button{
    width: 200px;
    height: 44px;
    border-radius: 10px;
    background: #682C0E;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 34px;
    border: none;
    cursor: pointer;
}

.info-block__content ul{
    font-size: 24px;
    font-weight: 400;
}